<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>EasyCBT</title>
  <link rel='stylesheet' href='css/EasyCBT.css'>
</head>
<body>

<!-- htmlレンダリングエリア -->
<div id='rendering_area'></div>

<!-- 試験一覧ページ用テンプレート -->
<script type="text/html" id="examinations_template">
  <ul class="examinations">
    <% for(var i=0; i<examinations.length; i++) { %>
      <li>
        <a href = "index.html#questions/<%= i %>"><%= examinations.at(i).get('examinationName') %></a> （問題数: <%= examinations.at(i).get('questionCount') %>）
      </li>
    <% } %>
  </ul>
</script>

<!-- 問題ページ用テンプレート -->
<script type="text/html" id="questions_template">
  <h1><%=examinationName%></h1>

  <form name="form1">
    <ul class="questions">

    <% for(var i=0; i<questions.length; i++) { %>
      <li>
        Q<%=(i+1)%>. <%=questions.at(i).get('description')%>
        <ul class="answers">

        <% for(var j=0; j<questions.at(i).get('answers').length; j++) { %>
          <li>
          <% if(questions.at(i).get('multiple_answer')) { %>
            <input type="checkbox" name="answers<%=(i+1)%>[<%=questions.at(i).get('index')%>]" value="<%=questions.at(i).get('answers')[j].index%>"> <%=questions.at(i).get('answers')[j].description%>
          <% } else { %>
            <input type="radio" name="answers<%=(i+1)%>[<%=questions.at(i).get('index')%>]" value="<%=questions.at(i).get('answers')[j].index%>"> <%=questions.at(i).get('answers')[j].description%>
          <% } %>
          </li>
        <% } %>
        </ul>
      </li>
    <% } %>
    </ul>
    <input type="button" name="finish" value="Finish" id='btn_finish'>
  </form>
</script>

<!-- 結果ページ用テンプレート -->
<script type="text/html" id="result_template">
  <h1><%=examinationName%></h1>
  <ul class="questions">
  <% for(var k=0; k<questions2.length; k++) { %>
    <li>
      Q<%=(k+1)%>. <%=questions2.at(k).get('description')%>
      <ul class="results">
      <% if(questions2.at(k).get('correct')) { %>
        <li>正解！</li>
      <% } else { %>
        <li>不正解。。</li>
      <% } %>
        <li>回答: <%=concatAnswersDescription(questions2.at(k).get('selectedAnswers'))%></li>
        <li>正解: <%=concatAnswersDescription(questions2.at(k).get('correctAnswers'))%></li>
      </ul>
    </li>
  <% } %>
  </ul>

  <!-- 成績 -->
  <p class="record">
  <%=questionCount%>問中<%=correctAnswersCount%>問正解でした。<br/>
  正答率=<%=calcPercentageOfCorrectAnswers(questionCount, correctAnswersCount)%>%
  </p>

  <!-- 戻るリンク -->
  <p class="back">
  <a href = "javascript:location.reload();">戻る</a>
  </p>
</script>

<script src="js/external/jquery-1.11.2.js"></script>
<script src="js/external/underscore.js"></script>
<script src="js/external/backbone.js"></script>

<!-- モデル -->
<script src="js/app/model/Question.js"></script>
<script src="js/app/model/Examination.js"></script>
<!-- コレクション -->
<script src="js/app/collection/Questions.js"></script>
<script src="js/app/collection/Examinations.js"></script>
<!-- ビュー -->
<script src="js/app/view/ExaminationsView.js"></script>
<script src="js/app/view/QuestionsView.js"></script>
<script src="js/app/view/ResultView.js"></script>
<!-- ルーター -->
<script src="js/app/router/MyRouter.js"></script>
<!-- ユーティリティ -->
<script src="js/app/util/Util.js"></script>
<!-- 問題データ -->
<script>
  var examinations = new easycbt.collection.Examinations();
  var questions = new easycbt.collection.Questions();
</script>
<script src="js/data/examinations.js"></script>
<script src="js/data/questions.js"></script>
<!-- アプリメイン -->
<script src="js/app/app.js"></script>

</body>
</html>
