<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>EasyCBT</title>
  <link rel='stylesheet' href='css/bootstrap.css'>
  <link rel='stylesheet' href='css/EasyCBT.css'>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">EasyCBT</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">試験一覧</a></li>
          <li class="active"><a href="index.html#results">成績一覧</a></li>
          <li class="active"><a href="index.html#review">誤答の復習</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

<!-- htmlレンダリングエリア -->
<div class="container" id='rendering_area'></div>

<!-- 試験一覧ページ用テンプレート -->
<script type="text/html" id="examinations_template">
  <h2>試験一覧</h2>

  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th>試験名</th>
      <th>問題数</th>
    </tr>
    <% for(var i=0; i<examinations.length; i++) { %>
      <tr>
        <td><%= (i+1) %></td>
        <td><a href = "index.html#questions/<%= i %>"><%= examinations.at(i).getExaminationName() %></a></td>
        <td><%= examinations.at(i).getQuestionCount() %></td>
      </tr>
    <% } %>
  </table>
</script>

<!-- 問題ページ用テンプレート -->
<script type="text/html" id="questions_template">
  <h2><%= examination.getExaminationName() %></h2>

  <form name="form1">
    <table class="table table-striped questions">
      <% for(var i=0; i<questions.length; i++) { %>
        <tr><td>
          Q<%=(i+1)%>. <%= questions.at(i).getDescription() %> <span class="bg-info"><%= questions.at(i).getCategory() %></span>
          <% if(!questions.at(i).isValid()) { %>
            <span class="invalid_question">出題ミス</span>
          <% } %>
          <ul class="answers">

          <% for(var j=0; j<questions.at(i).getChoices().length; j++) { %>
            <li>
            <% if(questions.at(i).getQuestionType() == easycbt.model.Question.QUESTION_TYPE_MULTIPLE_CHOICE) { %>
              <input type="checkbox" name="answers<%=(i+1)%>[<%=questions.at(i).get('index')%>]" value="<%=questions.at(i).getChoices()[j].index%>"> <%=questions.at(i).getChoices()[j].description%>
            <% } else if(questions.at(i).getQuestionType() == easycbt.model.Question.QUESTION_TYPE_SINGLE_CHOICE) { %>
              <input type="radio" name="answers<%=(i+1)%>[<%=questions.at(i).get('index')%>]" value="<%=questions.at(i).getChoices()[j].index%>"> <%=questions.at(i).getChoices()[j].description%>
            <% } else { %>
            <% } %>
            </li>
          <% } %>
          </ul>
        </td></tr>
      <% } %>
    </table>

    <p class="finish">
      <input type="button" name="finish" value="完了" id='btn_finish' class="btn btn-primary">
    </p>
  </form>
</script>

<!-- 結果ページ用テンプレート -->
<script type="text/html" id="result_template">
  <h2><%= takeExamination.getExamination().getExaminationName() %></h2>

  <table class="questions table table-striped">
    <% for(var k=0; k<takeExamination.getAnswers().length; k++) { %>
    <tr><td>
      Q<%=(k+1)%>. <%= takeExamination.getAnswers().at(k).getQuestion().getDescription() %>
      <ul class="results">
        <% if(takeExamination.getAnswers().at(k).isCorrectAnswer()) { %>
          <li class="correct_answer">正解！</li>
        <% } else { %>
          <li class="incorrect_answer">不正解。。</li>
        <% } %>
        <li>回答: <%= takeExamination.getAnswers().at(k).getAnsweredChoicesDescription() %></li>
        <li>正解: <%= takeExamination.getAnswers().at(k).getQuestion().getCorrectAnswersDescription() %></li>
      </ul>
    </td></tr>
    <% } %>
  </table>

  <!-- 成績 -->
  <p class="record">
    <%= takeExamination.getExamination().getActualQuestionCount() %>問中<%= takeExamination.getCorrectAnswersCount() %>問正解でした。<br/>
    正答率=<%= takeExamination.getPercentageOfCorrectAnswers() %>%
  </p>

  <!-- 戻るリンク -->
  <p class="reload">
    <input type="button" name="reload" value="再テスト" id='btn_reload' class="btn" onClick="javascript:location.reload();">
  </p>
</script>

<!-- 成績表示ページ用テンプレート -->
<script type="text/html" id="display_results_template">
  <h2>成績一覧</h2>

  <table class="table table-striped">
    <tr>
      <th>試験名</th>
      <th>正答率</th>
      <th>実施日時</th>
    </tr>
    <% for(var i=0; i<takeExaminations.size(); i++) { %>
    <%   var takeExamination = takeExaminations.at(i); %>
    <tr>
      <td><%= takeExamination.getExamination().getExaminationName() %></td>
      <td><%= takeExamination.getPercentageOfCorrectAnswers() %>%</td>
      <td><%= moment(takeExamination.getCreated()).format('YYYY/MM/DD HH:mm:ss') %></td>
    </tr>
    <% } %>
  </table>

  <!-- 成績クリア -->
  <p class="clear_results">
    <input type="button" name="clear_results" value="成績クリア" id='btn_clear_results' class="btn btn-danger">
  </p>
</script>

<!-- 復習ページ用テンプレート -->
<script type="text/html" id="display_review_template">
  <h2>復習</h2>

  <table class="table table-striped">
    <tr>
      <th>問題</th>
      <th>正解</th>
      <th>誤答回数</th>
    </tr>
    <% for(var i=0; i<wrongAnswerCountList.length; i++) { %>
    <%   var result = wrongAnswerCountList[i]; %>
    <tr>
      <td><%= result.question.getDescription() %></td>
      <td><%= result.question.getCorrectAnswersDescription() %></td>
      <td><%= result.count %></td>
    </tr>
    <% } %>
  </table>
</script>

<script src="js/external/jquery-1.11.2.js"></script>
<script src="js/external/underscore.js"></script>
<script src="js/external/backbone.js"></script>
<script src="js/external/backbone.localStorage.js"></script>
<script src="js/external/bootstrap.js"></script>
<script src="js/external/moment.js"></script>

<!-- モデル -->
<script src="js/app/model/Question.js"></script>
<script src="js/app/model/Examination.js"></script>
<script src="js/app/model/Answer.js"></script>
<script src="js/app/model/TakeExamination.js"></script>
<!-- コレクション -->
<script src="js/app/collection/Questions.js"></script>
<script src="js/app/collection/Examinations.js"></script>
<script src="js/app/collection/Answers.js"></script>
<script src="js/app/collection/TakeExaminations.js"></script>
<!-- ビュー -->
<script src="js/app/view/ExaminationsView.js"></script>
<script src="js/app/view/QuestionsView.js"></script>
<script src="js/app/view/ResultView.js"></script>
<script src="js/app/view/DisplayResultsView.js"></script>
<script src="js/app/view/DisplayReviewView.js"></script>
<!-- ルーター -->
<script src="js/app/router/MyRouter.js"></script>
<!-- ユーティリティ -->
<script src="js/app/util/Util.js"></script>
<!-- 問題データ -->
<script>
  var examinations = new easycbt.collection.Examinations();
  var questions = new easycbt.collection.Questions();
</script>
<script src="js/data/examinations.js"></script>
<script src="js/data/questions.js"></script>
<!-- アプリメイン -->
<script src="js/app/app.js"></script>

</body>
</html>
